<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td colspan="2">
        <%#= link_to "◀", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        【<%= l(@first_day, format: :middle) %>：勤務時間管理表】
        <%#= link_to "▶", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
      </td>
      <td>指定勤務開始時刻：<%= l(@user.designated_work_start_time, format: :time) %>
        </br>
          指定勤務終了時刻：<%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      <td colspan="3">指定勤務時間：<%= format_basic_info(@user.designated_work_time) %>
        </br>
         基本勤務時間：<%= format_basic_info(@user.basic_work_time) %>
      </td>
      <td></br>月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>上長：<%= @user.superior %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td>
      <td><%= sprintf("%04d",@user.id) if current_user %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>月締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>
<div class="btn-users-show">
  <%# if current_user.superior? %>
    <%# if @monthly_request.present? %>
      <div class="rowspan">
        <font color="red"><%#= link_to "【所属長承認申請のお知らせ】", edit_monthly_info_user_attendances_path(@user, @attendances), remote: true, class: "text text-danger" %>
          <strong style="display:inline-block; padding:1px; border:thick solid red;"><%#= "#{@@monthly_request.count}件の通知があります。" %>
          </strong>
        </font>
      </div>
    <%# else %>
      <!-- <a>【所属長承認申請のお知らせ】</a> -->
    <%# end %>
    <br>
    <%# if @daily_request.present? %>
      <div class="rowspan">
        <font color="red"><%#= link_to "【勤怠変更のお知らせ】", edit_daily_info_user_attendances_path(@user), remote: true, class: "text text-danger" %>
          <strong style="display:inline-block; padding:1px; border:thick solid red;"><%#= "#{@daily_request.count}件の通知があります。" %>
          </strong>
        </font>
      </div>
    <%# else %>
      <!-- <a>【勤怠変更申請のお知らせ】</a> -->
    <%# end %>
    <br>
    <%# if @overwork_request.present? %>
      <!-- < %= link_to "【残業申請のお知らせ】", user_attendance_edit_overwork_info_path(@user, @attendances), remote: true, class: "text text-danger" %> -->
      <div class="rowspan">
        <font color="red"><%#= link_to "【残業申請のお知らせ】", edit_overwork_info_user_attendances_path(@user), remote: true, class: "text text-danger" %>
          <strong style="display:inline-block; padding:1px; border:thick solid red;"><%#= "#{@overwork_request.count}件の通知があります。" %>
          </strong>
        </font>
      </div>
    <%# else %>
      <!-- <a>【残業申請のお知らせ】</a> -->
    <%# end %>
  <%# end %>
  <br>
  <%#= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  <%#= link_to "CSV出力", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  <div class="left">
  </br>
  <%#= link_to "勤怠修正ログ（承認済）", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  </div>
</div>
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr><!--rowspan:縦結合、colspan：横結合-->
        <td rowspan="3">残業申請</td>
        <td rowspan="3">日付</td>
        <td rowspan="3">曜日</td>
        <td colspan="8">【実　績】</td>
        <td colspan="5">【所定外勤務】</td>
      </tr>
      <tr>
        <td colspan="3">出　社</td>
        <td colspan="3">退　社</td>
        <td rowspan="2">在社時間</td>
        <td rowspan="2">備　考</td>
      　<td colspan="2">終了予定時間</td>
      　<td rowspan="2">時間外時間</td>
      　<td rowspan="2">業務処理内容</td>
      　<td rowspan="2">指示者確認 ㊞</td>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <%#= link_to "残業申請", user_attendance_edit_overwork_request_path(@user,day), remote: true, class: "btn btn-primary" %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 6 %>
              <font color="Blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% elsif day.worked_on.wday == 0 %>
              <font color="Red"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% else %>
              <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
            <% if day.edit_lastday_started_at.nil? && day.daily_request_status == "承認" %>
              <td><%= l(day.edit_day_started_at, format: :hour) if day.edit_day_started_at.present? %></td>
              <td><%= l(day.edit_day_started_at, format: :minute) if day.edit_day_started_at.present? %></td>
            <% elsif day.edit_day_started_at.nil? && day.daily_request_status == "承認" %>  
              <td><%= l(day.edit_day_started_at, format: :hour) if day.edit_day_started_at.present? %></td>
              <td><%= l(day.edit_day_started_at, format: :minute) if day.edit_day_started_at.present? %></td>
            <% else %>
              <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
              <td><%= l(day.started_at, format: :minute) if day.started_at.present? %></td>
            <% end %>
          <td>
            <%# if (Date.current == day.worked_on) && day.started_at.nil? %>
              <%#= link_to "出勤", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <%# end %>
          </td>
            <% if day.edit_lastday_finished_at.nil? && day.daily_request_status == "承認" %>
              <td><%= l(day.edit_day_finished_at, format: :hour) if day.edit_day_finished_at.present? %></td>
              <td><%= l(day.edit_day_finished_at, format: :minute) if day.edit_day_finished_at.present? %></td>
            <% elsif day.edit_day_finished_at.nil? && day.daily_request_status == "承認" %>  
              <td><%= l(day.edit_day_finished_at, format: :hour) if day.edit_day_finished_at.present? %></td>
              <td><%= l(day.edit_day_finished_at, format: :minute) if day.edit_day_finished_at.present? %></td>
            <% else %>
              <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
              <td><%= l(day.finished_at, format: :minute) if day.finished_at.present? %></td>
            <% end %>
          <td>
            <%# if (Date.current == day.worked_on) && day.finished_at.nil? %>
              <%#= link_to "退勤", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <%# end %>
          </td>         
          <td>
            <% if day.finished_at.present? && day.edit_day_finished_at.nil? %>
              <%= working_times(day.started_at, day.finished_at) %>
            <%# else %>
            <% elsif day.edit_day_finished_at.present? && day.daily_request_status == "承認" %>
              <%= edit_working_times(day.edit_day_started_at, day.edit_day_finished_at, day.next_day) %>            
              <%# @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= l(day.over_ending_time_at, format: :hour) if day.over_ending_time_at.present? %></td>
          <td><%= l(day.over_ending_time_at, format: :minute) if day.over_ending_time_at.present? %></td>
          <td>
            <% if day.over_ending_time_at.present? %>
              <%= working_overtimes(day.over_ending_time_at, @user.designated_work_end_time, day.next_day) %>
            <% end %>
          </td>
          <td><%= day.work_description %></td>
          <td><% if day.overwork_request_superior.present? %>
                <%= User.find(day.overwork_request_superior).name %><!-- へ申請中 -->
                <%# = superiors(day.over_request_superior).name %>
                <% if day.overwork_request_status == "申請中" %>
                <%# if day.over_request_status == "申請中" %>
                  へ 
                <% else %>
                  より結果 → 
                <% end %>
              <%= day.overwork_request_status %>
              <!-- 残業 <%#= day.over_request_status %> -->
            <% end %>
            <br>
            <% if day.overwork_info_superior.present? %>
            <%# if day.edit_day_request_superior.present? %>
              <%= User.find(day.overwork_info_superior).name %>
              <%#= User.find(day.edit_day_request_superior).name %>
                <% if day.overwork_info_status == "申請中" %>
                <%# if day.edit_day_request_status == "申請中" %>
                  へ 
                <% else %>
                  より結果 → 
                <% end %>
              勤怠変更 <%= day.overwork_info_status %>  
              <!-- 勤怠変更 <%#= day.edit_day_request_status %> -->
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan:横結合-->
      <tr>
        <td colspan="3">累計日数</td>
        <td colspan="5">総合勤務時間</td>
        <td colspan="2">累計勤務時間</td>
        <td colspan="5"></td>
        <td rowspan="2">所属長承認 未
          <br>
            
          <br>
            <%#= link_to "申請", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
          <br>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= @attendances.count %></td>
        <td colspan="5"><%= format_basic_info(@user.designated_work_time).to_f * @worked_sum %></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>
<!-- <div class="center"> -->
  <%#= link_to "キャンセル", user_path(@current_user date: @first_day), class: "btn btn-lg btn-default" %>
<!-- </div> -->

<!--モーダルウィンドウ表示-->
<div id="edit_overwork_request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_overwork_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_daily_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_monthly_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="log" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>