
          <%= form_with(model: @base, url: edit_basis_path(@base), local: true, method: :get) do |f| %>
            <%= render 'shared/error_base_messages', object: @base %>
            
            <%= f.label :id, class: "label-#{yield(:class_text)}" %>
            <p><%= sprintf("%04d",@base.id) if current_user %></p>
            
            <%= f.label :base_number, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :base_number, class: "form-control" %>
            
            <%= f.label :base_name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :base_name, class: "form-control" %>
            
            <%= f.label :base_type, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :base_type, :placeholder => "出勤または退勤を入力する", class: "form-control" %>
          
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal"  aria-label="Close">
                キャンセル
              </button>
            </div>
          <% end %>