<%= form_with(model: [@user], url:user_attendance_edit_monthly_request_path(@user), local: true, method: :patch) do |f| %>
  <table class="table table-bordered table-striped table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>月</th>
        <th>指示者確認印</th>
        <th>変更</th>
        <th>勤怠を確認する</th>
      </tr>
    </thead>
    <% attendances.each do |day| %>
      <%= f.fields_for "attendances[]", day do |item| %>
        <tbody>
          <tr>
            <td><%= l(day.worked_on, format: :middle) %></td>
            <td><%= item.select :monthly_request_status, ['なし', '申請中', '承認', '否認'] %></td>
            <td><%= item.check_box :monthly_change, id: "test" %></td>
            <td><%= link_to "確認", show_confirmation_user_path(id), target: :_blank, class: "btn btn-primary" %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %>            
    <!-- <tbody> -->
      <!-- <tr> -->
        <!-- <td>< %= l(@attendance.worked_on, format: :short) %></td> -->
        <!-- <td>< %= $days_of_the_week[@attendance.worked_on.wday] %></td> -->
        <!-- <td>< %= f.time_field :over_ending_time_at, class: "form-control" %></td> -->
        <!-- <td>< %= f.check_box :next_day, id: "next_day" %></td> -->
        <!-- <td>< %= f.text_field :work_description, class: "form-control" %></td> -->
        <!-- <td>< %= f.collection_select(:apply_to_superior, @superiors, :id, :name, { include_blank: "選択して下さい。" }, :required => true) %></td>
        <!-- <td>< %= f.select :apply_to_superior, [["選択してください", 0],["係長", 1],["課長", 2],["部長", 3]] %></td> -->
        <!-- <td>< %= f.select :apply_to_superior, [["選択してください", 0],["申請中", 1],["承認", 2],["否認", 3]] %></td> -->
      <!-- </tr> -->
    <!-- </tbody> -->
  </table>
  <input type="submit" name="commit" value="変更を送信する" class="btn btn-primary btn-block" data-disable-with="変更を送信する">
  <div class>
<% end %>