<%= form_with(model: [@attendance], url:user_attendance_update_overwork_request_path(@user, @attendance), local: true, method: :patch) do |f| %>
  <table class="table table-bordered table-striped table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th><%= "日付" %></th>
        <th><%= "曜日" %></th>
        <th><%= "終了予定時間" %></th>
        <th><%= "翌日" %></th>
        <th><%= "業務処理内容" %></th>
        <th><%= "指示者確認㊞" %></th>
      </tr>
    </thead>
                
    <tbody>
      <tr>
        <td><%= l(@attendance.worked_on, format: :short) %></td>
        <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
        <td><%= f.time_field :over_ending_time_at, readonly: true, class: "form-control" %></td>
        <td><%= f.check_box :next_day, id: "next_day" %></td>
        <td><%= f.text_field :work_description, class: "form-control" %></td>
        <td><%= f.select :apply_to_superior, [["選択してください", 0],["係長", 1],["課長", 2],["部長", 3]] %></td>
        <!-- <td><%= f.select :apply_to_superior, [["選択してください", 0],["申請中", 1],["承認", 2],["否認", 3]] %></td> -->
      </tr>
    </tbody>
  </table>
  <div class="center">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>